
.sub-container {
	margin: 10px;
	border: solid 1px #646469;
	border-radius: 25px;
	padding: 10px;
	
}

.un-img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: solid 1px black;
	font-weight: bold;
}

.un-text {
	padding-left: 10px;
}

.thread-tittle{
	padding-left: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
	font-size: 30px;
}